// Overrides
@if $bulmaswatch-import-font {
//  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
}

.section {
background-color: $grey-darker;
}

hr {
height: $border-width;
}

h6 {
text-transform: uppercase;
letter-spacing: 0.5px;
}

.hero {
background-color: $grey-dark;
}

a {
transition: all 200ms ease;
}

.content blockquote {
border-color: $grey;
}

.button {
transition: all 200ms ease;
border-width: $border-width;

&.is-active,
&.is-focused,
&:active,
&:focus {
  box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.5);
}

&.is-loading:after {
  border-color: transparent transparent $button-border-color
    $button-border-color;
}
@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);

  &.is-#{$name} {
    &.is-hovered,
    &:hover {
      background-color: lighten($color, 7.5%);
    }

    &.is-active,
    &.is-focused,
    &:active,
    &:focus {
      border-color: $color;
      box-shadow: 0 0 0 2px rgba($color, 0.5);
    }
  }
}
}

.label {
color: $grey-lighter;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea,
.control.has-icons-left .icon,
.control.has-icons-right .icon {
height: 2.5em;
}

.input,
.textarea {
transition: all 200ms ease;
box-shadow: none;
border-width: $border-width;
padding-left: 1em;
padding-right: 1em;
}

.select {
&:after,
select {
  border-width: $border-width;
}
}

.control {
&.has-addons {
  .button,
  .input,
  .select {
    margin-right: -$border-width;
  }
}
}

.progress {
&::-webkit-progress-value {
  background-color: $grey;
}

&::-moz-progress-bar {
  background-color: $grey;
}
}

.card {
$card-border-color: lighten($grey-darker, 5);
border: $border-width solid $card-border-color;
border-radius: $radius;

.card-image {
  img {
    border-radius: $radius $radius 0 0;
  }
}

.card-header {
  border-radius: $radius $radius 0 0;
}

.card-footer,
.card-footer-item {
  border-width: $border-width;
  border-color: $card-border-color;
}
}

.notification {
@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);

  &.is-#{$name} {
    a:not(.button) {
      color: $color-invert;
      text-decoration: underline;
    }
  }
}
}

.tag {
border-radius: $radius;
}

.menu-list {
a {
  transition: all 300ms ease;
}
}

.modal-card-body {
background-color: $grey-darker;
}

.modal-card-foot,
.modal-card-head {
border-color: $grey-dark;
}

.message-header {
font-weight: $weight-bold;
}

.message-body {
border-width: $border-width;
border-color: $grey;
}

.navbar {
border-radius: $radius;

&.is-transparent {
  background-color: transparent;
}

@include touch {
  .navbar-menu {
    background-color: inherit;
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);

  &.is-#{$name} {
    @include touch {
      .navbar-item,
      .navbar-link {
        color: rgba($color-invert, 0.75);

        &.is-active {
          color: $color-invert;
        }
      }
    }
  }
}
}

.pagination-link,
.pagination-next,
.pagination-previous {
border-width: $border-width;
}

.panel-block,
.panel-heading,
.panel-tabs {
border-width: $border-width;

&:first-child {
  border-top-width: $border-width;
}
}

.panel-heading {
font-weight: $weight-bold;
}

.panel-tabs {
a {
  border-width: $border-width;
  margin-bottom: -$border-width;

  &.is-active {
    border-bottom-color: $link-active;
  }
}
}

.panel-block {
&:hover {
  color: $link-hover;

  .panel-icon {
    color: $link-hover;
  }
}

&.is-active {
  .panel-icon {
    color: $link-active;
  }
}
}

.tabs {
a {
  border-bottom-width: $border-width;
  margin-bottom: -$border-width;
}

ul {
  border-bottom-width: $border-width;
}

&.is-boxed {
  a {
    border-width: $border-width;
  }

  li.is-active a {
    background-color: $background;
  }
}

&.is-toggle {
  li a {
    border-width: $border-width;
    margin-bottom: 0;
  }

  li + li {
    margin-left: -$border-width;
  }
}
}