
@import "variables.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "overrides.scss";
html{ background-color: transparent; overflow-y:hidden;}

body{ background-color: #002B36;   }
.gamecontainer{ width:100vw; height:100vh; background-color:#000; position:absolute; top:0; left:0; }
.debugcontainer{ width:100vw; height:100vh;  position:absolute; top:0; left:0;}



.playerlist{width:100%; position:absolute; top:0;}
.join{ position:absolute; bottom:0; right:0; vertical-align: bottom; opacity: 0.5;
  p{background-color:#fff; border-radius: 10PX 0 0 0; display:inline; padding:6px;}
}
.helpers{ position:absolute; bottom:0; left:0; vertical-align: bottom; opacity: 0.5; 
  p{background-color:#fff; border-radius: 0 10PX  0 0; display:inline; padding:6px;}
}
#joinqr { width:100px; height:100px; }
#renderCanvas{ z-index:1;  position:absolute; top:0; display:none; /*opacity:0.95 */}
#debugCanvas{z-index:10; position:absolute; top:0; border:1px solid #f00; width:100%; height:100%; display:none; } 


.controler{ position: absolute; top:0; left:0; z-index:-3; border:1px solid #fff; height:100vh; width:100vw;
  canvas{position:absolute; top:0; left:0; z-index:-2; }
  div.joystick{ position:absolute; width:45%; height:100%;
    p{padding:0.2em; text-align: center;}
  }
  div.joystick.left{left:0; border-right:1px dashed #999;}
  div.joystick.right{right:0; border-left:1px dashed #999;}
  a.joybutton{  display:block; border:1px solid #999; position:absolute;  left:40%; width:20%; height:30%; border-radius: 20px; }
  a.joybutton.top{top:15%;}
  a.joybutton.btm{top:55%;}
  a.joybutton.active{background-color: #f00;}
}


#gamecontainer{ z-index: -1;}


.scoredisplay{ position:absolute; top:0; left:50%;  margin-left:-111px; border:1px solid #fff; width:222px;
  .team{ width:110px; float:left; text-align: center;}
  h1,h2{ color:#fff;}
  h1{ font-size:1.2em; border-bottom:1px solid #fff;}
  h2{ font-size:2em;}
  .team-a{
    h1{background-color:#f00;}
  }
  .team-b{
    h1{background-color:#00f;}
  }
}



.goal-details{ color:#eee; text-shadow: 0 0  0.1em #000; font-size:5vh; position: absolute; top:60%; left:0;  width:100%; text-align: center;
  strong{ color:#fff;}
}

.goal{ position:absolute;   right:-10px; overflow:visible; width:1vh;  
  font-size:40vh; font-weight:bolder; color:rgb(255, 255, 0); text-shadow: 1vh 1vh 1vh #f00, 1vh -1vh 1vh #f00,-1vh 1vh 1vh #f00,-1vh -1vh 1vh #f00;
  animation: goalslide 5s forwards;
}

@keyframes goalslide {
  0%{right:-1vh; animation-timing-function:linear;}
  100%{ right:700vh; animation-timing-function:linear;}
}

div.tankdesc{  z-index:-10;  position:absolute; top:5%; left:5%; color:#fff; bordeR:1px solid #999; padding:0.5em; border-radius: 4PX;
  strong{ display:block; padding:0.2em; margin:1em; background-color: #437911; }
}

div.healthbar{
  z-index:-10;
  width:96%;
  position: absolute;
  bottom:2%; left:2%;

  progress{ -webkit-appearance: none; appearance: none; width:100%; height:2em; border:1px solid #999; border-radius:4px; } 
  progress[value]{  border-radius: 4px; background-color:transparent; color:#999; }
  ::-webkit-progress-bar{ background-color: transparent;}
  ::-webkit-progress-value{ background-color: #999;}
}